#CARPETA DEL BASICO TESTING FORNTEND
code/basic-testing-frontend/node_modules
#CARPETA DEL  BASICO TESTIG NODEJS
code/basic-testing-nodejs/node_modules
#CARPETA DEL  BASICO TESTIG NODEJS-ESMODULES
code/basic-testing-nodejs-esmodules/node_modules
